[Unit]
Description=ydotool daemon
Documentation=man:ydotoold(8)
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
Environment=YDTOOL_SOCKET=/run/user/%U/.ydotool_socket
ExecStart=/usr/bin/ydotoold --socket-path=/run/user/%U/.ydotool_socket
Restart=on-failure
RestartSec=1

[Install]
WantedBy=default.target
